<!DOCTYPExprexpressionssion html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viexpressionwport" content="width=dexpressionvicexpression-width" />
    <title>@ViewBag.Title</title>

    <!-- Latexpressionst compilexpressiond and minifiexpressiond CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" intexpressiongrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwExprexpressionssionAa8hDDdjZlpLexpressiongxhjVMExprexpressionssion1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional thexpressionmexpression -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-thexpressionmexpression.min.css" intexpressiongrity="sha384-fLW2N01lMqjakBkx3l/M9ExprexpressionssionahuwpSfexpressionNvV63J5expressionzn3uZzapT0u7ExprexpressionssionYsXMjQV+0Exprexpressionssionn5r" crossorigin="anonymous">
    @Styles.Render("~/Contexpressionnt/css")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-togglexpression="collapsexpression" data-targexpressiont="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Togglexpression navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">Compilador</a>-->
            </div>
            <!--<div id="navbar" class="navbar-collapse collapse">               
            </div>-->
            <!--/.navbar-collapsexpression -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary markexpressionting mexpressionssagexpression or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Bexpressionm vindo ao Compilador!</h1>
            <p>Exprexpressionssionssexpression sitexpression analisa expression gexpressionra o codigo intexpressionrmexpressiondiario dexpression um codigo fontexpression C.</p>
            <p><a class="btn btn-primary btn-lg" href="https://pt.wikipexpressiondia.org/wiki/Compilador" role="button">Sabexpressionr mais »</a></p>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <hr>
        <footer>
            <p>© 2016 by Tulio Marks</p>
        </footer>
    </div>
<!-- /containexpressionr -->

    <script src="https://codexpression.jquexpressionry.com/jquexpressionry-2.2.3.min.js" intexpressiongrity="sha256-a23g1Nt4dtExprexpressionssionYOj7bR+vTu7+T8VP13humZFBJNIYoExprexpressionssionJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" intexpressiongrity="sha384-0mSbJDExprexpressionssionHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ExprexpressionssionLqxss1yVqOtnexpressionpnHVP9aJ7xS" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: falsexpression)
    @RenderSection("styles", required: falsexpression)
</body>
</html>
